<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#<link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bjan - Toilet</title>
</head>
<body>
{% include "menu.twig" %}

<div class="container top-buffer-60">

    <div class="row">
        <div class="page-header" >
            <h1>Toilet ventetid er noget værre noget!</h1>
        </div>

        <div class="col-md-6" style="margin-bottom: 300px">
            <div class="col-xs-12">
                <h1>Toilet status</h1>
            </div>
            <div class="col-xs-6">Toiler</div>
            <div class="col-xs-6">STATUS</div>

            {% if(ToiletArray) %}



                {% for arr in ToiletArray %}
                    <div class="col-xs-6">{{ navne[arr.id] }}</div>
                    <div class="col-xs-6">

                        {% if(arr.state) %}
                            <p class="btn-danger">Optaget!</p>

                        {% else %}
                            <p class="btn-success">Ledig!</p>

                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

        </div>

        <div class="col-md-5" >
            <h2>Nyheder</h2>
            <div style="">
                {% if(NewsArray) %}
                    {% if(NewsArray.status == 'ok') %}

                        {% for nws in NewsArray.items %}
                            <h3><a href='{{ nws.link }}' style="color: black">
                                    {{ nws.title }}
                                </a></h3>
                            {{ nws.pubDate }}
                            <hr/>

                        {% endfor %}
                    {% else %}
                        Kunne ikke hente nyhedder
                    {% endif %}
                {% else %}
                    Kunne ikke hente nyhedder
                {% endif %}
            </div>
        </div>
    </div>

</div>


{#
<footer id="About" class="navbar navbar-fixed-bottom">
    <div class="container" ">
        <p class="text-muted text-center">Not copyrighted, just... who would even steal this...</p>
    </div>
</footer>
#}

{#

$rss = new php_rss("http://www.dr.dk/nyheder/service/feeds/allenyheder");
<pre>
    <h2>Debug af Toilet Array</h2>
    {{ dump(ToiletArray) }}
</pre>
#}

</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>